.modal-dialog-user-profile,
.people-drawer-banner {
  .profile-bg {
    &--mx-uc-1 {
      background-color: var(--mx-uc-1);
    }

    &--mx-uc-2 {
      background-color: var(--mx-uc-2);
    }

    &--mx-uc-3 {
      background-color: var(--mx-uc-3);
    }

    &--mx-uc-4 {
      background-color: var(--mx-uc-4);
    }

    &--mx-uc-5 {
      background-color: var(--mx-uc-5);
    }

    &--mx-uc-6 {
      background-color: var(--mx-uc-6);
    }

    &--mx-uc-7 {
      background-color: var(--mx-uc-7);
    }

    &--mx-uc-8 {
      background-color: var(--mx-uc-8);
    }
  }

  .username > .button:hover,
  .display-name > .button:hover,
  .text-click:hover {
    cursor: pointer;
    color: var(--tc-link);
  }

  #ethereum-icon:hover,
  #dm-ethereum-icon:hover {
    cursor: pointer;
    i {
      color: var(--bs-primary) !important;
    }
  }

  .profile-banner.exist-banner {
    background-color: transparent !important;
  }
}

/* DM Banner */
.people-drawer-banner {
  .profile-banner {
    height: 140px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
  }

  .profile-user-profile-avatar {
    margin-top: -60px;
    margin-bottom: 20px;
    position: relative;
    left: -95px;
  }

  .profile-user-profile-avatar,
  .avatar-container,
  .avatar-react {
    height: 87px !important;
    width: 101px !important;
  }

  .ff-canvas,
  .ff-image {
    height: 87px !important;
    width: 87px !important;
  }

  .avatar-container {
    padding: 7px;
  }

  .user-status {
    position: relative;
    top: -10px;
    left: 45px;
    font-size: 16pt;
  }
}

/* Banner Profile */
.modal-dialog-user-profile {
  .modal-header {
    display: none !important;
  }

  .profile-banner {
    height: 212px;
    min-height: 212px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
  }

  @media (max-width: 991px) {
    .profile-banner {
      height: 166px;
      min-height: 166px;
    }
  }

  @media (max-width: 768px) {
    .profile-banner {
      height: 161px;
      min-height: 161px;
    }
  }

  @media (max-width: 576px) {
    .profile-banner {
      height: 161px;
      min-height: 161px;
    }
  }

  .avatar-container {
    position: relative;
    top: 0px;
  }

  .user-status {
    position: relative;
    top: 108px;
    left: -32px;
    font-size: 30px;
    height: 31px;
    width: 31px;
  }

  .user-status:before {
    top: -2px;
    position: relative;
  }

  .avatar-container,
  .avatar-container img,
  .avatar-container canvas {
    height: 140px;
    width: 140px;
  }

  .avatar-container img,
  .avatar-container canvas {
    padding: 12px;
    border-radius: 21px;
  }

  .avatar-container,
  .user-status {
    margin-top: -109px;
  }
  .avatar__border {
    background-color: var(--bg-surface-low) !important;
  }

  @media (max-width: 576px) {
    .avatar-container {
      left: 15px !important;
    }
    .user-status {
      left: -17px !important;
    }
  }
}
