.modal-dialog-user-profile {
  #usertabs {
    .nav-link,
    .nav-link:hover {
      text-decoration: none !important;
    }
  }
}

.notification-badge {
  z-index: 1;
}

.space-drawer-body {
  .room-selector {
    .room-selector__options > button > i {
      position: relative;
      top: -1px;
    }

    .content {
      .username-unread {
        margin-right: 27px;
      }

      .username-base {
        .user-custom-status:not(:empty) {
          margin-top: -7px;
          font-size: 8pt;
          .emoji {
            margin-right: 4px !important;
          }
        }
      }

      .notification-badge {
        width: 23px;
        display: flex !important;
        align-items: center;
      }

      &.content-dm {
        height: 45px;
      }

      .avatar {
        .user-status {
          z-index: 2;
          position: relative;
          top: 9px;
          margin-left: -8px;
        }

        .user-status,
        .user-status::before {
          font-size: 8pt;
        }
      }

      &.content-dm:not(.content-with-custom-status) {
        .username-base {
          margin-top: 10px;
          margin-bottom: 10px;
        }
      }

      .user-custom-status {
        display: block !important;
      }

      .avatar {
        display: flex !important;
        align-items: center;
      }

      .username-base,
      .user-custom-status {
        display: block !important;
      }
    }
  }
}
