.modal-dialog-user-profile {
  #usertabs {
    .nav-link,
    .nav-link:hover {
      text-decoration: none !important;
    }
  }
}

.space-drawer-body {
  .room-selector {
    .content {
      .avatar {
        .user-status {
          z-index: 2;
          position: relative;
          top: 9px;
          margin-left: -8px;
        }

        .user-status,
        .user-status::before {
          font-size: 8pt;
        }
      }

      .username-base,
      .avatar {
        display: flex;
        align-items: center;
      }

      &.content-dm {
        height: 45px;
      }

      .user-custom-status {
        display: block !important;
      }
    }
  }
}
