.header-room {
  .avatar-base > .nav-link {
    height: 42px;
  }

  .avatar-base .avatar-react,
  .avatar-base.ff-canvas,
  .avatar-base .ff-image {
    height: 30px;
    position: relative;
    top: -3px;
  }

  .room-icon {
    top: 1px;
    position: relative;
  }

  .room-name {
    max-width: 500px;
    top: 6px;
    position: relative;
  }

  @media (max-width: 1500px) {
    .room-name {
      max-width: 360px;
    }
  }

  @media (max-width: 1320px) {
    .room-name {
      max-width: 280px;
    }
  }

  @media (max-width: 1200px) {
    .room-name {
      max-width: 160px;
    }
  }

  @media (max-width: 1124px) {
    .room-name {
      max-width: 250px;
    }
  }

  @media (max-width: 940px) {
    .room-name {
      max-width: 150px;
    }
  }

  @media (max-width: 768px) {
    .room-name {
      max-width: 350px;
    }
  }

  @media (max-width: 650px) {
    .room-name {
      max-width: 290px;
    }
  }

  @media (max-width: 595px) {
    .room-name {
      max-width: 250px;
    }
  }

  @media (max-width: 576px) {
    .room-name {
      max-width: 232px;
    }
  }

  @media (max-width: 470px) {
    .room-name {
      max-width: 152px;
    }
  }
}
