.modal-dialog-loading-page {
  .spinner-border,
  .spinner-grow {
    height: 50px;
    width: 50px;
    margin-bottom: 18px;
  }

  .modal-body,
  .modal-content {
    background: transparent !important;
    border-color: transparent !important;
  }

  .modal-body {
    font-size: 12pt;
  }
}

.loadingoverlay {
  background: var(--bg-loadingoverlay) !important;
  justify-content: center !important;

  .loadingoverlay_element svg circle {
    fill: var(--bg-loadingoverlay-circle) !important;
  }

  .loadingoverlay_text {
    font-size: 29pt !important;
    margin-top: 14px !important;
    color: var(--bg-loadingoverlay-text) !important;
  }
}

.audio-progress-bar {
  background: linear-gradient(
    90deg,
    var(--sound-bar-0) 0%,
    var(--sound-bar-50) 54%,
    var(--sound-bar-100) 100%
  );

  .progress-bar {
    background: var(--sound-bar-base);
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
  }
}
