/* Message Loader */
.ph-msg.no-loading {
  .placeholder-glow .placeholder {
    animation: none !important;
  }

  &:hover .placeholder-glow .placeholder {
    cursor: pointer !important;
    background-color: var(--tc-link) !important;
  }
}

/* Code Editor */
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  white-space: break-spaces;
  overflow-y: auto;
  padding: 14px !important;
}

.hljs.fixhl {
  white-space: pre;
  td {
    color: var(--tc-surface-normal);
    padding: 0px;
  }
  .code-line {
    color: var(--tc-surface-low) !important;
    padding-right: 10px;
    width: 1%;
  }
}

.message-body {
  .hljs {
    max-height: 300px;
  }
}

.hljs-emphasis {
  font-style: italic !important;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-title,
.hljs-section,
.hljs-doctag,
.hljs-type,
.hljs-name,
.hljs-strong {
  font-weight: bold;
}

.hljs-fullview {
  max-height: none !important;
}

.divider-box {
  .divider-box-click,
  .divider-box-click:hover {
    cursor: pointer;
  }

  .divider-box-click:hover {
    background-color: var(--bg-positive-border) !important;
  }

  .divider-box-click {
    color: var(--divider-box-click) !important;
  }
}

.linkify-base {
  .lk-href[iskeyword='true'],
  .lk-href[iskeyword='true']:hover {
    color: unset !important;
    cursor: help !important;
  }

  .lk-href[iskeyword='true']:hover {
    -webkit-text-decoration: underline dotted !important;
    text-decoration: underline dotted !important;
    -webkit-text-decoration-skip-ink: none !important;
    text-decoration-skip-ink: none !important;
  }
}
