/* Code Editor */
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  white-space: break-spaces;
  overflow-y: auto;
  padding: 14px !important;
}

.hljs.fixhl {
  white-space: pre;
  td {
    color: var(--tc-surface-normal);
    padding: 0px;
  }
  .code-line {
    color: var(--tc-surface-low) !important;
    padding-right: 10px;
    width: 1%;
  }
}

.message-body {
  .hljs {
    max-height: 300px;
  }
}

.hljs-emphasis {
  font-style: italic !important;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-title,
.hljs-section,
.hljs-doctag,
.hljs-type,
.hljs-name,
.hljs-strong {
  font-weight: bold;
}

.hljs-fullview {
  max-height: none !important;
}

.divider-box {
  .divider-box-click,
  .divider-box-click:hover {
    cursor: pointer;
  }

  .divider-box-click:hover {
    background-color: var(--bg-positive-border) !important;
  }
}
