@media (max-width: 768px) {
  .textarea-focus-rec,
  .textarea-typing {
    #sticker-opener {
      display: none !important;
    }
  }

  .textarea-focus-rec {
    #emoji-opener,
    #send-room-message {
      display: none !important;
    }
  }

  .textarea-typing {
    #message-textarea {
      padding-left: 20px;
    }
    #room-file-upload,
    #audio-sender {
      display: none !important;
    }

    #room-more-textarea {
      display: block !important;
      padding-left: 5px;
      padding-right: 5px;
      i,
      i:before {
        font-size: 10pt;
      }
    }

    #send-room-message {
      i,
      i:before {
        color: var(--bs-primary);
      }
    }
  }
}

@media (min-width: 768px) {
  #send-room-message {
    display: none !important;
  }
}

.message-embed {
  max-width: 450px;
  .card {
    border-left-width: 5px;
    border-left-color: var(--default-embed-color);
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0px;

    .card-text {
      color: var(--tc-surface-low);
    }
  }
  .embed-img,
  .embed-thumb {
    max-width: unset !important;
    .image-container {
      height: auto !important;
      img {
        max-width: 100% !important;
      }
    }
  }
  .embed-img {
    background-color: transparent !important;
  }
  .embed-thumb {
    background-color: transparent !important;
    margin-left: 10px;
    img {
      height: 72px !important;
    }
  }
  .embed-video {
    background-color: #000;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;

    .play-button {
      transition: background-color 0.1s;
      transition-timing-function: ease-in-out;
      background-color: rgba(255, 255, 255, 0.7);
      background-size: 50px;
      -webkit-filter: invert(100%);
      filter: invert(100%);
      background-position: center;
      background-repeat: no-repeat;
      pointer-events: none;
    }
  }

  .embed-video:hover {
    cursor: pointer;
    .play-button {
      background-color: rgba(255, 255, 255, 0.8);
    }
  }
}
