/* Special settings menu */
@media (min-width: 1800px) {
  #settings-base {
    #settings-content {
      max-width: 1800px;
      margin: auto;
    }
  }
}

@media (min-width: 768px) {
  #settings-base {
    .modal-body {
      padding: 0px 80px;
    }
    #setting-close {
      position: fixed;
      right: 0;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      span {
        display: none;
      }
      i {
        margin-left: 0px !important;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        font-size: 15pt;
        margin-right: 6px !important;
        position: relative;
        top: 1px;
      }
    }

    #setting-close-hr {
      display: none;
    }

    #setting-tab {
      position: fixed;
      width: 240px;
      border-right-style: solid;
      border-width: 1px;
      overflow-y: scroll;
      .border-bottom {
        border-bottom: solid transparent !important;
      }
      .logout:active,
      .logout.active {
        background-color: var(--bs-danger) !important;
        color: var(--tc-surface-normal) !important;
        i {
          color: var(--tc-surface-normal) !important;
        }
      }
    }

    #settings-content {
      padding-left: 270px;
    }
  }
}

#settings-base {
  #settings-content {
    .space-banner {
      .img-upload .avatar-container__large {
        margin-left: 0px !important;
      }
    }
  }
}

#settings-base {
  #setting-tab {
    .nav-link {
      color: var(--ic-surface);
    }

    .nav-link:hover {
      background-color: var(--bg-surface-low) !important;
    }
  }
}
