/* Login Base */
.auth-base {
  /* Background */
  background: var(--bg-auth-normal);
  background: var(--bg-auth-gradient);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  // background-image: url('');

  /* Banner */
  .card .banner {
    background: var(--bg-auth-normal);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 105% auto;
    background-image: url('../img/login/banner/1.jpg');
  }
}

@mixin custom-dark-mode() {
  /* If you want to use specific custom images for the dark mode, type your style here. */
}

.dark-theme,
.butter-theme {
  @include custom-dark-mode();
}

@media (prefers-color-scheme: dark) {
  .system-theme {
    @include custom-dark-mode();
  }
}
