.black-theme {
  --bg-auth-normal: rgb(36 58 80) 0%;

  /* background color | --bg-[background type]: value */

  --bg-surface: hsl(0, 2%, 11%);
  --bg-surface-semi-transparent: rgba(29, 27, 27, 0.9);

  --bg-surface-transparent: hsla(0, 0%, 21%, 0);
  --bg-surface-low: hsl(0, 0%, 13%);
  --bg-surface-low-semi-transparent: rgba(33, 33, 33, 0.9);
  --bg-surface-low-transparent: hsla(0, 0%, 18%, 0);
  --bg-surface-extra-low: hsl(0, 0%, 21%);
  --bg-surface-extra-low-transparent: hsla(208, 8%, 14%, 0);
  --bg-surface-hover: rgba(255, 255, 255, 3%);
  --bg-surface-active: rgba(255, 255, 255, 5%);
  --bg-surface-border: rgba(0, 0, 0, 20%);

  --bg-surface-gradient: none;
  --bg-surface-gradient-2: none;
  --bg-surface-gradient-3: none;
  --bg-auth-gradient: none;
}
