.black-theme,
.black-colors-theme {
  --selection-color: #fff;
  --selection-background: rgb(255, 36, 109);

  --bg-auth-normal: rgb(36 58 80) 0%;

  --bg-surface: rgb(5, 5, 5);
  --bg-surface-semi-transparent: rgb(0 0 0 / 90%);
  --bg-surface-transparent: hsla(0, 0%, 21%, 0);

  --bg-input: #111;

  --bg-surface-low: rgb(0, 0, 0);
  --bg-surface-low-semi-transparent: rgba(11, 11, 11, 0.9);
  --bg-surface-low-transparent: hsla(0, 0%, 18%, 0);

  --bg-surface-extra-low: hsl(0, 0%, 21%);
  --bg-surface-extra-low-transparent: hsla(208, 8%, 14%, 0);

  --bg-surface-hover: rgba(255, 255, 255, 3%);
  --bg-surface-active: rgba(255, 255, 255, 5%);

  --bg-surface-border: rgba(173, 173, 173, 0.2);

  --bg-surface-gradient: none;
  --bg-surface-gradient-2: none;
  --bg-surface-gradient-3: none;
  --bg-auth-gradient: none;

  .btn-theme {
    --bs-btn-bg: #000000;
    --bs-btn-border-color: #313131;
    --bs-btn-hover-bg: #424649;
    --bs-btn-hover-border-color: #313131;
    --bs-btn-focus-shadow-rgb: 66, 70, 73;
    --bs-btn-active-bg: #4d5154;
    --bs-btn-active-border-color: #313131;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-bg: #000000;
    --bs-btn-disabled-border-color: #313131;
  }

  .btn-outline-theme {
    --bs-btn-color: #fff;
    --bs-btn-border-color: #212529;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #212529;
    --bs-btn-hover-border-color: #212529;
    --bs-btn-focus-shadow-rgb: 33, 37, 41;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #212529;
    --bs-btn-active-border-color: #212529;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #212529;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #212529;
    --bs-gradient: none;
  }

  .message__threadSummary {
    background-color: var(--bg-surface-active);
  }

  #settings-base #setting-tab .nav-link:hover {
    background-color: #121212 !important;
  }
}

.black-colors-theme {
}

.theme-type-dark-solid,
.theme-type-dark2-solid,
.theme-type-light-solid,
.theme-type-silver-solid {
  #profile-sidebar {
    margin-left: 80px;
  }
  .sidebar-photo,
  .sidebar-photo button {
    width: 125px !important;
  }
  .sidebar-1 {
    border-right-color: var(--bg-surface-border);
    border-right-style: solid;
    border-right-width: 1px;
    width: 80px;
    .sidebar-avatar::before {
      margin-left: -4px;
    }
  }
  .sidebar-2 {
    padding-left: 80px;
  }
}
