body.electron-mode {
  #electron-titlebar {
    -webkit-app-region: drag;
    min-height: 29px;
    max-height: 29px;
    height: 29px;
    width: 100%;
    background-color: var(--bg-surface-low);
    position: fixed;
    top: 0;
    z-index: 99999999;
    .title {
      margin-top: 3px;
      margin-bottom: 3px;
      margin-left: 15px;
      height: 29px;
      color: var(--tc-surface-normal);
      .badge {
        font-size: 9pt;
        height: 20px;
        position: relative;
        top: -1px;
      }

      .icon {
        height: 21px;
        position: relative;
        top: -2px;
        margin-right: 10px;
      }
    }
    .options {
      width: 200px;
      .button {
        font-size: 10pt;
        -webkit-app-region: no-drag;
        cursor: default;
        text-align: center;
        color: var(--tc-surface-normal);
        height: 29px;
        width: 50px;
        &:hover {
          background-color: var(--bg-surface-hover);
        }

        &:active {
          background-color: var(--bg-surface-active);
        }

        &.close:hover,
        &.close:active {
          background-color: var(--ic-danger-normal);
        }
        &.close:active {
          background-color: var(--ic-danger-high);
        }

        i {
          position: relative;
          top: 1px;
        }
      }
    }
  }

  .modal.show,
  .loading-display,
  #dropzone {
    padding-top: 29px !important;
  }

  .pswp.pswp--open {
    .pswp__bg {
      margin-top: 29px !important;
    }
    .pswp__container,
    .pswp__top-bar {
      padding-top: 29px;
    }
  }

  .root-electron-style {
    position: relative !important;
    top: 29px !important;
  }

  .loading-display {
    .loading__menu {
      margin-top: 29px !important;
    }
  }

  [data-tippy-root] {
    z-index: 999999999 !important;
  }
}
