@use '../../partials/screen';

.fa-ellipsis-vertical {
  margin-left: 8px;
  margin-right: 8px;
}

.client-container {
  display: flex;
  height: 100%;
}

.navigation-wrapper {
  width: var(--navigation-width);

  @include screen.smallerThan(mobileBreakpoint) {
    width: 100%;
  }
}

.room-wrapper {
  flex: 1;
  min-width: 0;
}

.loading-display {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loading__message {
  margin-top: var(--sp-normal);
  max-width: 350px;
  text-align: center;
}
.loading__appname {
  position: absolute;
  bottom: var(--sp-normal);
}
.loading__menu {
  position: absolute;
  top: var(--sp-extra-tight);
  right: var(--sp-extra-tight);
  cursor: pointer;
  .context-menu__item .text {
    margin: 0 !important;
  }
}

@media (max-width: 768px) {
  .room-mode .navigation-wrapper,
  .navigation-mode .back-navigation,
  .navigation-mode .room-wrapper {
    display: none;
  }

  .room-view > .navbar {
    background-color: var(--bg-surface-low);
  }

  .room-view--dropped > .navbar {
    top: 2px;
  }
}

@media (min-width: 768px) {
  .room-view > .navbar {
    background-color: var(--bg-surface);
  }
  .back-navigation {
    display: none;
  }
}
