$primary: (
  'dark': #37adbf,
  'light': #37adbf,
);
$slider-thumb-color: (
  'dark': #37adbf,
  'light': white,
);
$secondary: (
  'dark': grey,
  'light': grey,
);
$background-color: (
  'dark': rgba(26, 26, 26, 0.8),
  'light': white,
);
$button-bgcolor: (
  'light': rgba(26, 26, 26, 0.8),
  'dark': white,
);
$range-track-color: (
  'dark': black,
  'light': #ccc,
);
$range-track-progress-color: (
  'dark': white,
  'light': #37adbf,
);
$white: (
  'dark': white,
  'light': white,
);
$audio-duration: (
  'dark': white,
  'light': rgba(26, 26, 26, 0.8),
);
$duration: (
  'dark': #929292,
  'light': #929292,
);

$rate-color: (
  'dark': white,
  'light': rgba(26, 26, 26, 0.8),
);
$pannel-color: (
  'dark': rgba(26, 26, 26, 0.8),
  'light': white,
);
$pannel-bg-color: (
  'dark': rgba(26, 26, 26, 0.8),
  'light': lightgrey,
);

// https://codepen.io/trevanhetzel/pen/rOVrGK

$themes: dark light;

@mixin rangeThumb {
  width: 15px;
  height: 15px;
  margin: -5px 0 0;
  border-radius: 50%;
  cursor: pointer;
  border: 0 !important;
  z-index: 4;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
}

@mixin rangeTrack {
  width: 100%;
  height: 5px;
  border-radius: var(--progressbar-radius, 4px);
  cursor: pointer;
}

@mixin rangeTrackVolume {
  width: 100%;
  height: 5px;
  border-radius: 4px;
  cursor: pointer;
}

@mixin rangeTrackProgress {
  height: 5px;
  border-radius: 4px;
  cursor: pointer;
}

@mixin imgBackGround {
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
}

@each $theme in $themes {
  // Here are the rules specific to the colors in the theme
  .r-howler.#{$theme}-themed {
    &.player {
      position: relative;
      display: flex;
      box-sizing: border-box;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      min-height: 45px;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
      background-color: map-get($background-color, $theme);
      // border-radius: 4px;
    }

    .player-controls {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 7px;
      flex: 1;
    }

    button {
      height: 100%;
      // min-width: 30px;
      // min-height: 30px;
      padding: 6px;
      border: none;
      margin: 0;
      fill: map-get($button-bgcolor, $theme);
      background: transparent;
      border-radius: 5px;
      cursor: pointer;
      margin-right: 5px;
      box-sizing: border-box;
      transition:
        background 0.1s ease-in,
        fill 0.1s ease-in;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        background: map-get($primary, $theme);
        fill: map-get($background-color, $theme);
      }
    }

    .player-rate-btn {
      color: map-get($rate-color, $theme);
      border-radius: 5px;
      margin-right: 0;
      width: 100%;
      font-size: 9pt;
    }

    .player-speed {
      position: relative;
      min-width: 40px;
      display: flex;
      justify-content: center;
    }

    ol {
      list-style: none;
      margin: 0;
      padding: 0;
      background-color: map-get($pannel-bg-color, $theme);
      z-index: 999;
      position: fixed;
      border-radius: 4px;
      left: 0;
      text-align: center;
      width: 47px;

      li {
        font-size: 13px;
        margin: 0 2.5px;
        padding: 5px 2.5px;
        color: map-get($button-bgcolor, $theme);
        cursor: pointer;

        &.selected-option {
          background-color: map-get($primary, $theme);
          border-radius: 4px;
        }
      }
    }

    .rate-btn-hidden {
      opacity: 0;
    }

    .progress-bar {
      flex: 1;
      display: flex;
      align-items: center;
      position: relative;
    }

    .player-progress {
      // https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/
      width: 100%;
      border: 0;
      padding: 0;
      -webkit-appearance: none;
      height: 4px;
      border-radius: 4px;
      min-width: 50px;
      margin: 0;
      // background: transparent;
      z-index: 2;

      &::-moz-range-thumb {
        -webkit-appearance: none;
        // @include rangeThumb;
        background: map-get($slider-thumb-color, $theme);
      }

      &::-ms-thumb {
        -webkit-appearance: none;
        // @include rangeThumb;
        background: map-get($slider-thumb-color, $theme);
      }

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        // @include rangeThumb;
        background: map-get($slider-thumb-color, $theme);
      }

      &:focus {
        // outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
      }

      // Track
      &::-webkit-slider-runnable-track {
        @include rangeTrack;
        background: linear-gradient(
          to right,
          map-get($range-track-progress-color, $theme),
          map-get($range-track-progress-color, $theme) var(--progress-value, 0),
          map-get($range-track-color, $theme) var(--progress-value, 0)
        );
        content: '';
        // margin-top: -6px;
      }

      &::-moz-range-track {
        @include rangeTrack;
        background: map-get($range-track-color, $theme);
      }

      &::-ms-track {
        @include rangeTrack;
        background: map-get($range-track-color, $theme);
      }

      &::-moz-range-progress {
        @include rangeTrackProgress;
        background: map-get($range-track-progress-color, $theme);
      }
    }

    .volume-control {
      padding-right: 5px;
      display: flex;
      align-items: center;
      .audio-bar {
        width: 100%;
        border: 0;
        padding: 0;
        -webkit-appearance: none;
        height: 4px;
        border-radius: 4px;
        min-width: 50px;
        max-width: 75px;
        background: transparent;

        &::-moz-range-thumb {
          -webkit-appearance: none;
          @include rangeThumb;
          background: map-get($slider-thumb-color, $theme);
        }

        &::-ms-thumb {
          -webkit-appearance: none;
          @include rangeThumb;
          background: map-get($slider-thumb-color, $theme);
        }

        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          @include rangeThumb;
          background: map-get($slider-thumb-color, $theme);
        }

        &:focus {
          // outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
        }

        // Track
        &::-webkit-slider-runnable-track {
          @include rangeTrackVolume;
          background: linear-gradient(
            to right,
            map-get($range-track-progress-color, $theme),
            map-get($range-track-progress-color, $theme) var(--progress-value, 0),
            map-get($range-track-color, $theme) var(--progress-value, 0)
          );
          content: '';
        }

        &::-moz-range-track {
          @include rangeTrackVolume;
          background: map-get($range-track-color, $theme);
        }

        &::-ms-track {
          @include rangeTrackVolume;
          background: map-get($range-track-color, $theme);
        }

        &::-moz-range-progress {
          @include rangeTrackProgress;
          background: map-get($range-track-progress-color, $theme);
        }
      }
    }

    .audio-duration {
      text-align: center;
      padding-inline-start: 9px;
      padding-inline-end: 9px;
      white-space: nowrap;
      pointer-events: none;
      cursor: default;
      color: map-get($audio-duration, $theme);
      font-size: 14px;
      font-variant-numeric: normal;
      text-shadow: none;

      .duration {
        display: inline-block;
        white-space: pre;
        color: map-get($duration, $theme);
      }
    }

    input[type='range']:focus {
    }
    .prepare {
      color: map-get($secondary, $theme);
      font-weight: bold;
      font-family: monospace;
      font-size: 17px;
    }
  }

  svg {
    pointer-events: none;
    display: block;

    &.icon {
      width: 19px;
      height: 19px;
    }
  }
}
