.butter-theme,
.butter-theme-no-gradient {
  --selection-color: #fff;
  --selection-background: rgb(19, 160, 196);

  /* background color | --bg-[background type]: value */
  --bg-surface: hsl(64, 6%, 14%);
  --bg-surface-transparent: hsla(64, 6%, 14%, 0);
  --bg-surface-low: hsl(64, 6%, 10%);
  --bg-surface-low-transparent: hsla(64, 6%, 10%, 0);
  --bg-surface-extra-low: hsl(64, 6%, 8%);
  --bg-surface-extra-low-transparent: hsla(64, 6%, 8%, 0);

  --bg-badge: #c4c1ab;
  --invert-filter: invert(1);

  /* text color | --tc-[background type]-[priority]: value */
  --tc-surface-high: rgb(255, 251, 222, 94%);
  --tc-surface-normal: rgba(255, 251, 222, 94%);
  --tc-surface-normal-low: rgba(255, 251, 222, 60%);
  --tc-surface-low: rgba(255, 251, 222, 58%);

  /* system icons | --ic-[background type]-[priority]: value */
  --ic-surface-high: rgb(255, 251, 222);
  --ic-surface-normal: rgba(255, 251, 222, 84%);
  --ic-surface-low: rgba(255, 251, 222, 64%);

  #settings-base #setting-tab .nav-link:hover {
    background-color: #222 !important;
  }
}
