@use './partials/flex';
@use './partials/dir';

.homeserver-form,
.auth-form__heading {
  & .context-menu__item .text {
    margin: 0 !important;
  }
}

.homeserver-form {
  display: flex;
  margin-bottom: var(--sp-extra-tight);
  align-items: flex-end;
  & > .input-container {
    flex: 1;
    & .input {
      background-color: var(--bg-surface);
      @include dir.prop(border-right-width, 0, 1px);
      @include dir.prop(border-left-width, 1px, 0);
      @include dir.prop(
        border-radius,
        var(--bo-radius) 0 0 var(--bo-radius),
        0 var(--bo-radius) var(--bo-radius) 0
      );
    }
  }
  & .ic-btn {
    height: 44px;
    border: 1px solid var(--bg-surface-border);
    @include dir.prop(
      border-radius,
      0 var(--bo-radius) var(--bo-radius) 0,
      var(--bo-radius) 0 0 var(--bo-radius)
    );
  }

  &__status {
    margin-top: var(--sp-normal);
    & .donut-spinner {
      min-width: 28px;
    }
    & .text {
      margin: 0 var(--sp-tight);
    }
  }
  &__error {
    margin-bottom: var(--sp-normal) !important;
    color: var(--tc-danger-normal) !important;
  }
}

.auth-form {
  & > .input-container,
  &__pass-eye-wrapper {
    margin: var(--sp-tight) 0 var(--sp-ultra-tight);
  }

  &__heading {
    display: flex;
    justify-content: space-between;
    margin-top: calc(var(--sp-extra-loose) + var(--sp-tight));
  }

  &__pass-eye-wrapper {
    position: relative;
    & .ic-btn {
      position: absolute;
      @include dir.prop(right, 6px, unset);
      @include dir.prop(left, unset, 6px);
      bottom: 6px;
      border-radius: 4px;
    }
    & input {
      @include dir.side(padding, var(--sp-normal), 46px);
    }
  }

  &__btns {
    padding-top: var(--sp-loose);
    margin-bottom: var(--sp-extra-loose);
    display: flex;
    justify-content: flex-end;
  }

  &__error {
    color: var(--tc-danger-normal) !important;
  }

  .checkbox-auth {
    margin-top: -10px;
    position: relative;
    top: 4px;
  }

  .checkbox--active.checkbox-auth {
    top: -2px;
    margin-bottom: -10px;
  }
}
.sso__divider {
  margin-bottom: var(--sp-tight);
  display: flex;
  align-items: center;

  &::before,
  &::after {
    flex: 1;
    content: '';
    margin: var(--sp-tight);
    border-bottom: 1px solid var(--bg-surface-border);
  }
}

.process-wrapper {
  @extend .cp-fx__column--c-c;

  min-height: 100%;
  width: 100%;
  background-color: var(--bg-surface-low);
  opacity: 0.96;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

/* Auth Page */
.auth-base {
  /* Basic */
  .auth-form__pass-eye-wrapper > button {
    top: 30px;
    padding-top: 2px;
  }

  input[name='homeserver'] {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  /* Box Height */
  .tiny-box,
  .card,
  .tiny-box .card .card-body,
  .tiny-box .card > .row {
    height: 677px;
    max-height: 677px;
  }

  @media (max-height: 790px) {
    .tiny-box,
    .card,
    .tiny-box .card .card-body,
    .tiny-box .card > .row {
      height: 657px;
    }
  }

  @media (max-height: 760px) {
    .tiny-box,
    .card,
    .tiny-box .card .card-body,
    .tiny-box .card > .row {
      height: 637px;
    }
  }

  @media (max-height: 740px) {
    .tiny-box,
    .card,
    .tiny-box .card .card-body,
    .tiny-box .card > .row {
      height: 607px;
    }
  }

  @media (max-height: 710px) {
    .tiny-box,
    .card,
    .tiny-box .card .card-body,
    .tiny-box .card > .row {
      height: 577px;
    }
  }

  @media (max-height: 680px) {
    .tiny-box,
    .card,
    .tiny-box .card .card-body,
    .tiny-box .card > .row {
      height: 547px;
    }
  }

  @media (max-height: 650px) {
    .tiny-box,
    .card,
    .tiny-box .card .card-body,
    .tiny-box .card > .row {
      height: 517px;
    }
  }

  @media (max-height: 620px) {
    .tiny-box,
    .card,
    .tiny-box .card .card-body,
    .tiny-box .card > .row {
      height: 487px;
    }
  }

  @media (max-height: 590px) {
    .tiny-box,
    .card,
    .tiny-box .card .card-body,
    .tiny-box .card > .row {
      height: 457px;
    }
  }

  @media (max-height: 560px) {
    .tiny-box,
    .card,
    .tiny-box .card .card-body,
    .tiny-box .card > .row {
      height: 427px;
    }
  }

  @media (max-height: 530px) {
    .tiny-box,
    .card,
    .tiny-box .card .card-body,
    .tiny-box .card > .row {
      height: 397px;
    }
  }

  @media (max-height: 500px) {
    .tiny-box,
    .card,
    .tiny-box .card .card-body,
    .tiny-box .card > .row {
      height: 367px;
    }
  }

  @media (max-height: 470px) {
    .tiny-box,
    .card,
    .tiny-box .card .card-body,
    .tiny-box .card > .row {
      height: 337px;
    }
  }

  @media (max-height: 440px) {
    .tiny-box,
    .card,
    .tiny-box .card .card-body,
    .tiny-box .card > .row {
      height: 307px;
    }
  }

  @media (max-height: 410px) {
    .tiny-box,
    .card,
    .tiny-box .card .card-body,
    .tiny-box .card > .row {
      height: 277px;
    }
  }

  @media (max-height: 380px) {
    .tiny-box,
    .card,
    .tiny-box .card .card-body,
    .tiny-box .card > .row {
      height: 247px;
    }
  }

  @media (max-height: 350px) {
    .tiny-box,
    .card,
    .tiny-box .card .card-body,
    .tiny-box .card > .row {
      height: 217px;
    }
  }

  @media (max-height: 320px) {
    .tiny-box,
    .card,
    .tiny-box .card .card-body,
    .tiny-box .card > .row {
      height: 187px;
    }
  }

  /* Full Screen Base */
  .card-fullscren-base {
    overflow-y: auto;
    top: -2px;
    position: relative;
  }

  .card-fullscren-base,
  .card-fullscren-base::-webkit-scrollbar-corner,
  .card-fullscren-base::-webkit-scrollbar-thumb {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }

  /* Login Full Screen */
  @media (max-width: 768px) {
    background: var(--bg-surface-semi-transparent) !important;
    .card {
      background: transparent;
      border: none;
    }

    .card-body {
      height: 100%;
    }

    .container {
      padding: 0px !important;
      height: 100% !important;
      width: 100% !important;
      margin: 0px !important;
      position: fixed;
    }

    .card-fullscren-base {
      height: 100%;
      position: fixed;
    }
  }

  /* Card Fix */
  .card {
    border-radius: 1rem;

    .banner {
      border-top-left-radius: 1rem;
      border-bottom-left-radius: 1rem;
    }
  }

  .img-fluid {
    border-radius: 1rem 0 0 1rem;
  }

  .tiny-title {
    letter-spacing: 1px;
  }

  // .footer {
  // display: block;
  // position: absolute;
  // bottom: 0;
  // width: 100%;
  // }

  /* Buttons Animation */
  .sso-btn__img:hover {
    filter: brightness(0.7) grayscale(0.3);
  }

  .sso-btn__img:active {
    filter: brightness(0.5) grayscale(0.5);
  }
}
