@use './partials/flex';

.avatar-polygon {
  clip-path: polygon(
    92.3205% 40%,
    93.7939% 43.1596%,
    94.6962% 46.527%,
    95% 50%,
    94.6962% 53.473%,
    93.7939% 56.8404%,
    92.3205% 60%,
    79.8205% 81.6506%,
    77.8209% 84.5064%,
    75.3558% 86.9715%,
    72.5% 88.9711%,
    69.3404% 90.4445%,
    65.973% 91.3468%,
    62.5% 91.6506%,
    37.5% 91.6506%,
    34.027% 91.3468%,
    30.6596% 90.4445%,
    27.5% 88.9711%,
    24.6442% 86.9715%,
    22.1791% 84.5064%,
    20.1795% 81.6506%,
    7.67949% 60%,
    6.20615% 56.8404%,
    5.30384% 53.473%,
    5% 50%,
    5.30384% 46.527%,
    6.20615% 43.1596%,
    7.67949% 40%,
    20.1795% 18.3494%,
    22.1791% 15.4936%,
    24.6442% 13.0285%,
    27.5% 11.0289%,
    30.6596% 9.55551%,
    34.027% 8.65321%,
    37.5% 8.34936%,
    62.5% 8.34936%,
    65.973% 8.65321%,
    69.3404% 9.55551%,
    72.5% 11.0289%,
    75.3558% 13.0285%,
    77.8209% 15.4936%,
    79.8205% 18.3494%
  );
  // position: relative;
  // height: calc(184px);
  // width: calc(184px);
}

.avatar-polygon-2 {
  position: relative;
  clip-path: polygon(
    92.3205% 40%,
    93.7939% 43.1596%,
    94.6962% 46.527%,
    95% 50%,
    94.6962% 53.473%,
    93.7939% 56.8404%,
    92.3205% 60%,
    79.8205% 81.6506%,
    77.8209% 84.5064%,
    75.3558% 86.9715%,
    72.5% 88.9711%,
    69.3404% 90.4445%,
    65.973% 91.3468%,
    62.5% 91.6506%,
    37.5% 91.6506%,
    34.027% 91.3468%,
    30.6596% 90.4445%,
    27.5% 88.9711%,
    24.6442% 86.9715%,
    22.1791% 84.5064%,
    20.1795% 81.6506%,
    7.67949% 60%,
    6.20615% 56.8404%,
    5.30384% 53.473%,
    5% 50%,
    5.30384% 46.527%,
    6.20615% 43.1596%,
    7.67949% 40%,
    20.1795% 18.3494%,
    22.1791% 15.4936%,
    24.6442% 13.0285%,
    27.5% 11.0289%,
    30.6596% 9.55551%,
    34.027% 8.65321%,
    37.5% 8.34936%,
    62.5% 8.34936%,
    65.973% 8.65321%,
    69.3404% 9.55551%,
    72.5% 11.0289%,
    75.3558% 13.0285%,
    77.8209% 15.4936%,
    79.8205% 18.3494%
  );
}

.chatbox-portable {
  .avatar-container {
    img,
    canvas {
      border-radius: var(--bo-radius);
    }
  }
}

@keyframes avatar-container-loading {
  0% {
    background-color: var(--bg-surface-hover);
  }
  50% {
    background-color: var(--bg-surface-transparent);
  }
  100% {
    background-color: var(--bg-surface-hover);
  }
}

.avatar-container {
  width: 42px;
  height: 42px;

  &,
  .react-freezeframe canvas,
  .react-freezeframe img {
    border-radius: var(--bo-radius);
  }

  .react-freezeframe {
    canvas,
    img {
      image-rendering: crisp-edges !important;
    }
  }

  &__large {
    width: var(--av-large);
    height: var(--av-large);
  }
  &__normal {
    width: var(--av-normal);
    height: var(--av-normal);
  }

  &__small {
    width: var(--av-small);
    height: var(--av-small);
  }

  &__extra-small {
    width: var(--av-extra-small);
    height: var(--av-extra-small);
  }

  > img,
  > canvas {
    font-size: 0;
    border-radius: inherit;
    opacity: 0;
  }

  background-color: var(--bg-surface-hover);
  -webkit-animation: avatar-container-loading 1.5s infinite ease-in-out;
  -moz-animation: avatar-container-loading 1.5s infinite ease-in-out;
  -o-animation: avatar-container-loading 1.5s infinite ease-in-out;
  animation: avatar-container-loading 1.5s infinite ease-in-out;

  &.avatar-react-loaded {
    background-color: transparent !important;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;

    > img,
    > canvas {
      opacity: 1;
    }
  }

  .avatar__border {
    @extend .cp-fx__row--c-c;

    width: 100%;
    height: 100%;
    border-radius: inherit;

    .text {
      color: white;
    }
    &--active {
      @extend .avatar__border;
      box-shadow: var(--bs-surface-border);
    }
  }
}

.modal-dialog-user-profile,
.people-drawer-banner {
  .avatar-container {
    background-color: var(--bg-profile-banner) !important;
  }
  &.avatar-react-loaded {
    background-color: var(--bg-profile-banner) !important;
  }
}

.chatbox-portable > tbody,
#chatbox > tbody,
#search-chatbox > tbody {
  > tr {
    .avatar-container {
      .anim-avatar {
        display: none;
      }
    }
  }

  > tr:hover {
    .avatar-container {
      .anim-avatar {
        display: inherit;
      }

      .normal-avatar {
        display: none;
      }
    }
  }
}
