.avatar-polygon {
  clip-path: polygon(
    92.3205% 40%,
    93.7939% 43.1596%,
    94.6962% 46.527%,
    95% 50%,
    94.6962% 53.473%,
    93.7939% 56.8404%,
    92.3205% 60%,
    79.8205% 81.6506%,
    77.8209% 84.5064%,
    75.3558% 86.9715%,
    72.5% 88.9711%,
    69.3404% 90.4445%,
    65.973% 91.3468%,
    62.5% 91.6506%,
    37.5% 91.6506%,
    34.027% 91.3468%,
    30.6596% 90.4445%,
    27.5% 88.9711%,
    24.6442% 86.9715%,
    22.1791% 84.5064%,
    20.1795% 81.6506%,
    7.67949% 60%,
    6.20615% 56.8404%,
    5.30384% 53.473%,
    5% 50%,
    5.30384% 46.527%,
    6.20615% 43.1596%,
    7.67949% 40%,
    20.1795% 18.3494%,
    22.1791% 15.4936%,
    24.6442% 13.0285%,
    27.5% 11.0289%,
    30.6596% 9.55551%,
    34.027% 8.65321%,
    37.5% 8.34936%,
    62.5% 8.34936%,
    65.973% 8.65321%,
    69.3404% 9.55551%,
    72.5% 11.0289%,
    75.3558% 13.0285%,
    77.8209% 15.4936%,
    79.8205% 18.3494%
  );
  // position: relative;
  // height: calc(184px);
  // width: calc(184px);
}

.avatar-polygon-2 {
  position: relative;
  clip-path: polygon(
    92.3205% 40%,
    93.7939% 43.1596%,
    94.6962% 46.527%,
    95% 50%,
    94.6962% 53.473%,
    93.7939% 56.8404%,
    92.3205% 60%,
    79.8205% 81.6506%,
    77.8209% 84.5064%,
    75.3558% 86.9715%,
    72.5% 88.9711%,
    69.3404% 90.4445%,
    65.973% 91.3468%,
    62.5% 91.6506%,
    37.5% 91.6506%,
    34.027% 91.3468%,
    30.6596% 90.4445%,
    27.5% 88.9711%,
    24.6442% 86.9715%,
    22.1791% 84.5064%,
    20.1795% 81.6506%,
    7.67949% 60%,
    6.20615% 56.8404%,
    5.30384% 53.473%,
    5% 50%,
    5.30384% 46.527%,
    6.20615% 43.1596%,
    7.67949% 40%,
    20.1795% 18.3494%,
    22.1791% 15.4936%,
    24.6442% 13.0285%,
    27.5% 11.0289%,
    30.6596% 9.55551%,
    34.027% 8.65321%,
    37.5% 8.34936%,
    62.5% 8.34936%,
    65.973% 8.65321%,
    69.3404% 9.55551%,
    72.5% 11.0289%,
    75.3558% 13.0285%,
    77.8209% 15.4936%,
    79.8205% 18.3494%
  );
}

.chatbox-portable {
  .avatar-container {
    img,
    canvas {
      border-radius: var(--bo-radius);
    }
  }
}

@keyframes avatar-container-loading {
  0% {
    background-color: var(--avatar-grow-animation-1);
  }
  50% {
    background-color: var(--avatar-grow-animation-2);
  }
  100% {
    background-color: var(--avatar-grow-animation-1);
  }
}

:root {
  --default-avatar-size: 42px;
}

.avatar-container,
.img-container {
  & {
    background-color: var(--avatar-grow-animation-1);
    -webkit-animation: avatar-container-loading 2s infinite ease-in-out;
    -moz-animation: avatar-container-loading 2s infinite ease-in-out;
    -o-animation: avatar-container-loading 2s infinite ease-in-out;
    animation: avatar-container-loading 2s infinite ease-in-out;
  }

  &.image-react-loaded {
    background-color: transparent !important;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
  }
}

.avatar-container,
.avatar-container img,
.avatar-container canvas {
  width: var(--default-avatar-size);
  height: var(--default-avatar-size);
}

.avatar-container {
  display: flex;
  justify-content: center;
  & {
    border-radius: var(--bo-radius);
  }

  > img,
  > canvas {
    font-size: 0;
    border-radius: var(--bo-radius);
    height: 100%;
    width: 100%;
  }

  .avatar__border {
    &,
    &--active {
      width: 100%;
      height: 100%;
      border-radius: var(--bo-radius);
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
    }

    .text {
      color: white;
    }
    &--active {
      box-shadow: var(--bs-surface-border);
    }
  }
}

.modal-dialog-user-profile,
.people-drawer-banner {
  .avatar-container.image-react-loaded {
    background-color: var(--bg-profile-banner) !important;
  }
  &.image-react-loaded {
    background-color: var(--bg-profile-banner) !important;
  }
}

.chatbox-portable > tbody,
#chatbox > tbody,
#search-chatbox > tbody {
  > tr {
    .avatar-container {
      .anim-avatar {
        display: none;
      }
    }
  }

  > tr:hover {
    .avatar-container {
      .anim-avatar {
        display: inherit;
      }

      .normal-avatar {
        display: none;
      }
    }
  }
}

// Room Header
.room-view .header-room {
  .avatar-container,
  .avatar-container img,
  .avatar-container canvas {
    height: 36px !important;
    width: 36px !important;
  }

  .avatar-base .avatar-react,
  .avatar-base.ff-canvas,
  .avatar-base .ff-image {
    height: 30px;
  }
}

/* Space Manage */
.space-manage__content {
  .profile-image-container,
  .profile-image-container img,
  .profile-image-container canvas {
    height: 24px !important;
    width: 24px !important;
  }
}

// Profile / Room Editor Place
.profile-editor,
.room-info {
  .avatar-react,
  .img-upload__process,
  .avatar__border {
    height: 82px;
    width: 82px;
  }
  .avatar-container {
    width: 82px;
    height: 82px;
  }
}

// Sidebar Container
.space-container,
.featured-container {
  .avatar-container {
    .avatar-react,
    .ff-canvas,
    .ff-image {
      height: 42px !important;
      width: 42px !important;
    }
  }
}

// People Drawer
.people-drawer {
  .avatar-container,
  .avatar-container img,
  .avatar-container canvas {
    height: 32px !important;
    width: 32px !important;
  }
}

// Room Selector
.room-selector {
  .avatar-container,
  .avatar-container img,
  .avatar-container canvas {
    height: 24px !important;
    width: 24px !important;
  }
}

// Profile Modal
.profile-user-profile-avatar {
  .avatar-container,
  .avatar-container img,
  .avatar-container canvas {
    height: 87px !important;
    width: 101px !important;
  }
}

.modal-dialog-user-profile {
  .avatar-container,
  .avatar-container img,
  .avatar-container canvas {
    height: 140px;
    width: 140px;
  }

  &.modal-dialog-room-profile {
    .avatar-container,
    .avatar-container img,
    .avatar-container canvas {
      height: 110px;
      width: 110px;
    }
  }
}

// Chatbox Data
#chatbox,
.chatbox-portable,
#search-chatbox {
  .message__threadSummary {
    .avatar-container,
    .avatar-container img,
    .avatar-container canvas {
      height: 24px !important;
      width: 24px !important;
    }
  }

  .chat-base {
    height: var(--default-avatar-size) !important;
    width: var(--default-avatar-size) !important;
  }

  .welcome-msg {
    .avatar-container,
    .avatar-container img,
    .avatar-container canvas {
      height: 80px !important;
      width: 80px !important;
    }
  }
}
