/* Presence */
.user-presence-offline,
.user-presence-unavailable,
.user-presence-offline:before,
.user-presence-unavailable:before {
  color: #bdbdbd !important;
}

.user-presence-dnd,
.user-presence-dnd:before {
  color: #b83b3b !important;
}

.user-presence-online,
.user-presence-online:before {
  color: #45b83b !important;
}

.user-presence-idle,
.user-presence-idle:before {
  color: #b8913b !important;
}

@import '@fortawesome/fontawesome-free/css/all.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import '@cryptofonts/cryptofont/cryptofont.min.css';

// scss-docs-start import-stack
// Configuration
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/variables-dark';
@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/utilities';

// Layout & components
@import 'bootstrap/scss/root';
@import 'bootstrap/scss/reboot';
@import 'bootstrap/scss/type';
@import 'bootstrap/scss/images';
@import 'bootstrap/scss/containers';
@import 'bootstrap/scss/grid';
@import 'bootstrap/scss/tables';
@import 'bootstrap/scss/forms';
@import 'bootstrap/scss/buttons';
@import 'bootstrap/scss/transitions';
//@import 'bootstrap/scss/dropdown';
@import 'bootstrap/scss/button-group';
@import 'bootstrap/scss/nav';
@import 'bootstrap/scss/navbar';
@import 'bootstrap/scss/card';
//@import 'bootstrap/scss/accordion';
@import 'bootstrap/scss/breadcrumb';
//@import 'bootstrap/scss/pagination';
@import 'bootstrap/scss/badge';
//@import 'bootstrap/scss/alert';
//@import 'bootstrap/scss/progress';
@import 'bootstrap/scss/list-group';
@import 'bootstrap/scss/close';
@import 'bootstrap/scss/toasts';
@import 'bootstrap/scss/modal';
@import 'bootstrap/scss/tooltip';
@import 'bootstrap/scss/popover';
@import 'bootstrap/scss/spinners';
//@import 'bootstrap/scss/offcanvas';
@import 'bootstrap/scss/placeholders';

// Helpers
@import 'bootstrap/scss/helpers';

// Utilities
@import 'bootstrap/scss/utilities/api';
// scss-docs-end import-stack

:root {
  --bs-green: #45b83b;
  --bs-success: #45b83b;
  --bs-success-rgb: 69, 184, 59;
}

@import 'photoswipe/style.css';
@import 'katex/dist/katex.min.css';
@import 'tippy.js/animations/scale-extreme.css';
@import 'highlight.js/styles/github.css';

@import './Auth.scss';
@import './Client.scss';

@import './index.scss';

@import './Math.scss';

@import './ScrollView.scss';
@import './SegmentedControls.scss';

@import './RawIcon.scss';
@import './Text.scss';

@import './ConfirmDialog.scss';

@import './ImageUpload.scss';

@import './FollowingMembers.scss';
@import './IgnoreUserList.scss';
@import './KeywordNotification.scss';

@import './ImagePack.scss';
@import './ImagePackItem.scss';

@import './SpaceSettings.scss';
@import './SpaceManage.scss';

@import './ProfileEditor.scss';
@import './ImagePackProfile.scss';

@import './SideBar.scss';

@import './ShortcutSpaces.scss';
@import './CreateRoom.scss';

@import './SSOButtons.scss';

@import './ImagePackUpload.scss';

@import './PowerLevelSelector.scss';

@import './RoomAliases.scss';
@import './RoomVisibility.scss';
@import './RoomPermissions.scss';
@import './RoomHistoryVisibility.scss';

@import './ExportE2ERoomKeys.scss';
@import './ImportE2ERoomKeys.scss';

@import './Message.scss';
@import './Media.scss';

@import './RoomEmojis.scss';
@import './RoomEncryption.scss';
@import './RoomNotification.scss';
@import './RoomSearch.scss';
@import './RoomTile.scss';

@import './SidebarAvatar.scss';

@import './DragDrop.scss';

@import './EmojiBoard.scss';
@import './EmojiVerification.scss';

@import './InviteList.scss';
@import './InviteUser.scss';
@import './JoinAlias.scss';

@import './commands.scss';

@import './PeopleSelector.scss';
@import './PeopleDrawer.scss';

@import './Room.scss';
@import './RoomSettings.scss';
@import './RoomView.scss';
@import './RoomViewCmdBar.scss';
@import './RoomViewFloating.scss';
@import './RoomViewInput.scss';

@import './Search.scss';

@import './AuthRequest.scss';
@import './CrossSigning.scss';
@import './DeviceManage.scss';
@import './KeyBackup.scss';
@import './SecretStorageAccess.scss';

@import './TinyFooter.scss';

@import './Toggle.scss';
@import './Checkbox.scss';
@import './Avatar.scss';
@import './Button.scss';
@import './RadioButton.scss';
@import './InfoCard.scss';
@import './Chip.scss';
@import './ContextMenu.scss';

@import './SpaceAddExisting.scss';
@import './RoomSelector.scss';

@import '../../custom-css.scss';
