#electron-titlebar {
  -webkit-app-region: drag;
  min-height: 29px;
  max-height: 29px;
  height: 29px;
  width: 100%;
  background-color: var(--bg-surface-low);
  position: fixed;
  top: 0;
  z-index: 99999999;
  .title {
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 15px;
    height: 29px;
    color: var(--tc-surface-normal);
    .badge {
      font-size: 9pt;
      height: 20px;
      position: relative;
      top: -1px;
    }

    .icon {
      height: 21px;
      position: relative;
      top: -2px;
      margin-right: 10px;
    }
  }
  .options {
    width: 200px;
    .button {
      font-size: 10pt;
      -webkit-app-region: no-drag;
      cursor: default;
      text-align: center;
      color: var(--tc-surface-normal);
      height: 29px;
      width: 50px;
      &:hover {
        background-color: var(--bg-surface-hover);
      }

      &:active {
        background-color: var(--bg-surface-active);
      }

      &.close:hover,
      &.close:active {
        background-color: var(--ic-danger-normal);
      }
      &.close:active {
        background-color: var(--ic-danger-high);
      }
    }
  }
}

.electron-mode {
  #root {
    padding-top: 29px !important;
  }

  .sidebar-item-2 {
    margin-top: -100px !important;
  }

  .sidebar-item-1 {
    padding-bottom: 100px !important;
  }

  .modal.show,
  .modal-backdrop.show {
    padding-top: 29px !important;
  }

  [data-tippy-root] {
    z-index: 999999999 !important;
  }
}
