.room-selector {
  border: 1px solid transparent;
  border-radius: var(--bo-radius);
  cursor: pointer;
  .content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
  }

  &--muted {
    opacity: 0.6;
  }

  &--unread {
    .room-selector__content > .text,
    .room-selector__content > .content > .text {
      color: var(--tc-surface-high);
    }
  }

  &--selected {
    background-color: var(--bg-surface);
    border-color: var(--bg-surface-border);

    .room-selector__options {
      display: flex;
    }
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--bg-surface-hover);
      .room-selector__options {
        display: flex;
      }
    }
  }
  &:focus-within {
    background-color: var(--bg-surface-hover);
    button {
      outline: none;
    }
  }
  &:active {
    background-color: var(--bg-surface-active);
  }
  &--selected:hover,
  &--selected:focus,
  &--selected:active {
    background-color: var(--bg-surface);
  }

  .thread-selector__icon {
    top: 2px;
    position: relative;
  }
}

.room-selector__content {
  padding: 0 var(--sp-extra-tight);
  min-height: 40px;
  cursor: inherit;

  .avatar__border {
    position: relative;
    top: 1px;
  }

  > .avatar-container .avatar__border--active,
  > .content > .avatar > .avatar-container .avatar__border--active {
    box-shadow: none;
  }

  > .text,
  > .content > .text {
    margin: 0 var(--sp-extra-tight);

    color: var(--tc-surface-normal-low);
  }
}

.room-selector__options {
  display: none;

  &:empty {
    margin: 0 !important;
  }

  .ic-btn {
    padding: 6px;
    border-radius: calc(var(--bo-radius) / 2);
  }
}
