@use './partials/dir';
@use './partials/flex';

.shortcut-spaces {
  height: 100%;
  .dialog__content-container {
    padding: 0;
    padding-bottom: 80px;
    @include dir.side(padding, var(--sp-extra-tight), 0);

    > .text-b1 {
      padding: 0 var(--sp-extra-tight);
    }
  }

  &__header {
    margin-top: var(--sp-extra-tight);
    padding: var(--sp-extra-tight);
    text-transform: uppercase;
  }

  .room-selector {
    margin: 0 var(--sp-extra-tight);
  }
  .room-selector__options {
    display: flex;
    .checkbox {
      margin: 0 6px;
    }
  }
}
