.sidebar,
.sidebar-1,
.sidebar-2 {
  height: 100%;
}

.sidebar-1 {
  width: 72px;
  position: absolute;
  background: var(--bg-surface-extra-low);
  background: var(--bg-surface-gradient-3);
}

.sidebar-2 {
  display: inline-block;
  width: 100%;
  padding-left: 73px;
  padding-bottom: 49px;
}

.sidebar-item-1 {
  padding-bottom: 69px;
}

.sidebar-item-2 {
  margin-top: -69px;
}

.space-container > button,
.featured-container > button,
.sticky-container > button {
  padding-top: 3px;
  padding-bottom: 3px;
}

.featured-container,
.space-container,
.sticky-container {
  padding: var(--sp-ultra-tight) 0;

  & > .sidebar-avatar,
  & > .avatar-container {
    margin: calc(var(--sp-tight) / 2) 0;
  }
}

.space-container,
.featured-container {
  .avatar-container .avatar-react,
  .avatar-container .ff-canvas,
  .avatar-container .ff-image {
    height: 42px !important;
    width: 42px !important;
  }
}

.sidebar-divider {
  margin: auto;
  width: 24px;
  height: 1px;
  background-color: var(--bg-surface-border);
}

.sidebar__cross-signin-alert .avatar-container {
  box-shadow: var(--bs-danger-border);
  animation-name: pushRight;
  animation-duration: 400ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes pushRight {
  from {
    transform: translateX(4px) scale(1);
  }
  to {
    transform: translateX(0) scale(1);
  }
}

/* Profile Sidebar */

#profile-sidebar {
  position: relative;
  top: -60px;
  margin-left: 72px;
  border-top: 1px solid #fff;
  border-left-color: transparent !important;
  border-left-width: 0px !important;

  .sidebar-photo,
  .sidebar-photo button {
    height: 45px !important;
    width: 142px;
  }

  .action-button {
    & i,
    & i::before {
      font-size: 11pt;
    }
  }

  .action-button-2 {
    & i,
    & i::before {
      font-size: 15pt;
      margin-left: -2px;
      margin-right: -2px;
    }
  }

  .action-button,
  .action-button-2 {
    padding-left: 12px;
    padding-right: 12px;

    &.muted i,
    &.muted i::before {
      color: var(--bs-danger) !important;
    }
  }

  .tiny-block,
  .tiny-block::before,
  .tiny-block-2,
  .tiny-block-2::before {
    color: var(--bs-danger) !important;
    display: block;
    position: relative;
    pointer-events: none;
  }

  .tiny-block,
  .tiny-block::before {
    margin-top: -16px;
    top: -5px;
    left: -4px;
  }

  @-moz-document url-prefix() {
    .tiny-block,
    .tiny-block::before {
      margin-top: -15px;
    }
  }

  .tiny-block-2,
  .tiny-block-2::before {
    margin-top: -16px;
    top: -5px;
    left: -4px;
  }

  .sidebar-photo button {
    margin-top: 7px;
    margin-bottom: 7px;
  }

  .avatar-container,
  .avatar-container img,
  .avatar-container canvas {
    height: 35px !important;
    width: 35px !important;
  }
}
