@use './partials/dir';

.space-add-existing-modal {
  .room-selector__options {
    display: flex !important;
  }

  .room-selector {
    .content .avatar,
    .room-selector__options {
      display: flex;
      align-items: center;
    }
  }
}

.space-add-existing-modal.pin-spaces,
.space-add-existing-modal.add-existing-rooms {
  .room-selector__options .checkbox {
    position: relative;
    right: 7px;
  }
}

/* Tiny Footer */
.space-add-existing__footer,
.space-manage__footer,
.shortcut-spaces__footer {
  width: 100%;
  padding: var(--sp-normal);
  background-color: var(--bg-surface);
  border-top: 1px solid var(--bg-surface-border);
  display: flex;
  align-items: center;

  > .text {
    @extend .cp-fx__item-one;
    padding: 0 var(--sp-tight);
  }

  > button {
    @include dir.side(margin, var(--sp-normal), 0);
  }
}
